<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h3 class="text-dark text-bold">Fashion-Fiesta</h3></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
           <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addNewProduct">Add Product</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
<div class="container">
    <h1>Update Product</h1>
    <div class="container">
    <% if (error) { %>
        
        <p class="alert alert-danger"><%= error %></p>
       
    <% } %>
    </div>
    <form action="/updateProduct/<%= product.id %>" method="post" enctype="multipart/form-data">
        <div class="mb-3">
        
        <input type="hidden" class="form-control" id="id" name='id' value="<%= product.id %>">
        </div>
        <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" value="<%= product.name %>" name="name" placeholder="Product Name">
        </div>
        <div class="mb-3">
        <label for="img" class="form-label">Image</label>
        <input type="file" class="form-control" id="img" value="<%= product.img %>" name="img" placeholder="Image url..">
        </div>
        <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="text" class="form-control" id="price"  value="<%= product.price %>" name="price" placeholder="Price">
        </div>
        <div class="mb-3">
            <button class="btn btn-dark" type="submit">Update </button>
        </div>
    </form>
</div>