
    <main class="container mt-5">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(function(product) { %>
                    <tr>
                        <td><%= product.id %></td>
                        <td><%= product.name %></td>
                        <td>Rs.&nbsp;<%= product.price %>/-</td>
                        <td><img src="<%= product.img %>" width="100" height="100"></td>
                        <td>
                            
                                <a class="btn btn-dark" href="/addProduct/<%= product.id %>">Update</a>
                                <!-- <a class="btn btn-danger" href="">Delete</a> -->
                                <form action="/deleteProduct/<%= product.id %>" method="post">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                                
                                 <!-- <button class="btn btn-danger">Delete</button> -->
                            
                            
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </main>

